<!--Template Driven Froms-->
<!-- <div class="container">
  <h1>Bootcamp enrollment form</h1>
  <form #login="ngForm" (submit)="Add(login)">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control"  name="name" #name="ngModel" [(ngModel)]="userName.name"/>
      <div *ngIf="name.touched && name.invalid">
        name is required
      </div>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="paasword" class="form-control" name="pwd" #pwd="ngModel"[(ngModel)]="userName.pwd"/>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" name="email" #email="ngModel"[(ngModel)]="email"/>
    </div>
    <div class="form-group">
      <select class="custom-select" name="topics" #topics="ngModel" [(ngModel)]="topics">
          <option selected>I am intrested in</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div> -->






<!--Reactive Forms-->
<!-- <div class="container mt-3">
    <form  [formGroup]="registrationForm" (submit)="submitForm()" >
      <div class="form-group">
        <label>Name</label>
        <input type="text"   [ngClass]="{ 'is-invalid': (registationForm.controls.uname.errors) ||(registationForm.controls.uname.invalid) formControlName="uname" class="form-control" placeholder="enter name">
      </div>


      

      <div class="form-group">
        <label>Email</label>
        <input type="text"  formControlName="email" class="form-control" placeholder="enter email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password"  formControlName="pwd" class="form-control" placeholder="enter password">
      </div>
      <div class="form-group">
        <label>Confirm password</label>
        <input type="password"  formControlName="cpwd" class="form-control" placeholder="enter Confirm password">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="tel"  formControlName="mobile" class="form-control" placeholder="enter phone">
      </div>
      <div formGroupName="address">
        <div class="form-group">
          <label>city</label>
          <input type="text"  formControlName="city" class="form-control" placeholder="enter city">
        </div>
        <div class="form-group">
          <label>street</label>
          <input type="text"  formControlName="street" class="form-control" placeholder="enter street">
        </div>
        <div class="form-group">
          <label>state</label>
          <input type="text"  formControlName="state" class="form-control" placeholder="enter state">
        </div>
      </div>
    
      <button type="submit" class="btn btn-outline-primary">Button</button>
      <button type="submit" (click)="loadAPI()" class="btn btn-outline-success">Load API</button>
      <button type="submit" (click)="load()" class="btn btn-outline-success">Load </button>
    </form>
</div> -->

<!---trail-->
<!-- User form for Add/ Edit -->
<form [formGroup]="addUserForm" (ngSubmit)="submitUser()">

  <!-- Name control -->
  <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Name</label>
      <div class="col-sm-10">
          <!-- Alerts user when control is interacted or form is submitted about errors-->
          <input type="text" formControlName="name" class="form-control" placeholder="Enter name"
              [ngClass]="{ 'is-invalid':(addUserForm.controls.name.errors?.forbiddenFunction) || (isFormSubmitted && addUserForm.controls.name.errors) || (!addUserForm.controls.name.pristine && addUserForm.controls.name.invalid) }">

          <!-- Validation messages -->
          <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && addUserForm.controls.name.errors) || (!addUserForm.controls.name.pristine && addUserForm.controls.name.invalid  && addUserForm.controls.name.errors?.forbiddenFunction)">
              <div *ngIf="addUserForm.controls.name.errors.required">Name is required</div>
              <div *ngIf="addUserForm.controls.name.errors.pattern">Only Alphabets with space
                  between 2 to
                  20
                  characters</div>
                  <div *ngIf="addUserForm.controls.name.errors.forbiddenName">{{addUserForm.controls.name.errors?.forbiddenName.value}} is not a username</div>


          </div>
      </div>
  </div>

  <!-- Email control -->
  <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Email</label>
      <div class="col-sm-10">

          <input type="text" formControlName="email" class="form-control" placeholder="Enter email"
              [ngClass]="{ 'is-invalid': (isFormSubmitted && addUserForm.controls.email.errors) || (!addUserForm.controls.email.pristine && addUserForm.controls.email.invalid) }">

          <!-- Validation messages -->
          <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && addUserForm.controls.email.errors) || (!addUserForm.controls.email.pristine && addUserForm.controls.email.invalid)">
              <div *ngIf="addUserForm.controls.email.errors.required">Email is required</div>
              <div *ngIf="addUserForm.controls.email.errors.pattern">Enter valid email</div>

          </div>
      </div>
  </div>

  <!-- Address control -->
  <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Address</label>
      <div class="col-sm-10">

          <textarea class="form-control" formControlName="address" placeholder="Enter address" rows="3"
              [ngClass]="{ 'is-invalid': (isFormSubmitted && addUserForm.controls.address.errors) || (!addUserForm.controls.address.pristine && addUserForm.controls.address.invalid) }"></textarea>

          <!-- Validation messages -->
          <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && addUserForm.controls.address.errors) || (!addUserForm.controls.address.pristine && addUserForm.controls.address.invalid)">
              <div *ngIf="addUserForm.controls.address.errors.required">Address is required</div>

          </div>
      </div>
  </div>

  <!-- Password control -->
  <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Password</label>
      <div class="col-sm-10">

          <input type="password" formControlName="password" class="form-control" placeholder="Enter password"
              [ngClass]="{ 'is-invalid': (isFormSubmitted && addUserForm.controls.password.errors) || (!addUserForm.controls.password.pristine && addUserForm.controls.password.invalid) }">

          <!-- Validation messages -->
          <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && addUserForm.controls.password.errors) || (!addUserForm.controls.password.pristine && addUserForm.controls.password.invalid)">
              <div *ngIf="addUserForm.controls.password.errors.required">Password is required</div>
              <div *ngIf="addUserForm.controls.password.errors.minlength">Minimum 8 characters required</div>
          </div>
      </div>
  </div>

  <!---Confirm Password-->

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><span class="required-asterisk">*</span>Password</label>
    <div class="col-sm-10">

        <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Enter password"
            [ngClass]="{ 'is-invalid': (isFormSubmitted && addUserForm.controls.confirmpassword.errors?.passwordValidator)|| (!addUserForm.controls.confirmpassword.pristine && addUserForm.controls.confirmpassword.invalid) }">
           
        <!-- Validation messages -->
        <div class="invalid-feedback"
            *ngIf=" (isFormSubmitted && addUserForm.controls.confirmpassword.errors) || (!addUserForm.controls.confirmpassword.pristine && addUserForm.controls.confirmpassword.invalid && addUserForm.controls.confirmpassword.errors.passwordValidator)">
            <div *ngIf="addUserForm.controls.confirmpassword.errors.required">Password is required</div>
            <div *ngIf="addUserForm.controls.confirmpassword.errors.minlength">Minimum 8 characters required</div>
            <div *ngIf="addUserForm.controls.confirmpassword.errors.passwordValidator">{{addUserForm.controls.confirmpassword.errors.passwordValidator}}Password should be match</div>
        </div>
    </div>
</div>


  <div class="form-group text-center">
      <!-- Dynamic text of submit button -->
     <button type="submit" class="btn btn-success btn-sm">Add User</button>
    
      <!-- Cancel button is shown when User is in edit mode 
      <a type="submit" class="btn btn-danger btn-sm" (click)="closeModal('close')"
          *ngIf="urlParams">Cancel</a>-->
  </div>

</form>